@font-face {
  font-family: "Nunito";
  src: url(../sources/fonts/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  background: #f5b53f;
  background-image: url(/svg/pngwing\ 3_layerstyle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

.head_img {
  margin-top: 10px;
}

.stick {
  position: absolute;
  bottom: 100px;
  left: 7%;
}

/* Меню */

.menu_body {
  background-color: #5ebd2b;
  background-image: url(/svg/pngwing\ 3_layerstyle_green.svg);
}

.menu_txt_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.menu_head {
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  /* or 0% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.menu_head_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  /* identical to box height, or 119% */

  text-align: center;

  color: #ffffff;
}

.buttons_container {
  display: grid;
  grid-gap: 30px;

  /* width: 100%; */
}

.button_menu {
  width: 100%;
  height: 70px;
  left: 43px;
  top: 493px;

  background: #f8bc33;
  border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 0px;
  /* or 0% */

  text-align: center;

  color: #ffffff;

  padding: 10px;

  box-shadow: 5px 10px #e59d21;
}

/* Розыгрыш-авторизация */

.authorization_form {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  padding: 0 40px;
}

.button_authorization {
  background-color: #61c32c;
  box-shadow: 5px 10px #48a316;

  color: #36840c;
}

.tel {
  background-image: url(/svg/Icon.svg);
  background-repeat: no-repeat;
  background-position: left 30px center;
  text-align: center;

  height: 60px;

  background-color: #ffffff;
  border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 0px;
  color: #bbbcbc;
}

footer {
  position: absolute;
  bottom: 0px;
  padding: 0 30px;
  margin-bottom: 40px;
}

.agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */

  text-align: center;

  color: #ffffff;
}
