@font-face {
  font-family: "Nunito";
  src: url(../sources/fonts/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  background: #f5b53f;
  background-image: url(/svg/pngwing\ 3_layerstyle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

button {
  cursor: pointer;
}

.head_img {
  margin-top: 10px;
}

.stick {
  position: absolute;
  bottom: 100px;
  left: 7%;
}

/* Меню */

.menu_body {
  background-color: #5ebd2b;
  background-image: url(/svg/pngwing\ 3_layerstyle_green.svg);
}

.menu_txt_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
}

.menu_head {
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  /* or 0% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.menu_head_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  /* identical to box height, or 119% */

  text-align: center;

  color: #ffffff;
}

.buttons_container {
  display: grid;
  grid-gap: 30px;

  /* width: 100%; */
}

.button_menu {
  width: 100%;
  height: 70px;
  left: 43px;
  top: 493px;

  background: #f8bc33;
  border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 0px;
  /* or 0% */

  text-align: center;

  color: #ffffff;

  padding: 10px;

  box-shadow: 5px 10px #e59d21;
}

/* Розыгрыш-авторизация */

.authorization_form {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  padding: 0 40px;
}

.button_authorization {
  background-color: #61c32c;
  box-shadow: 5px 10px #48a316;

  color: #36840c;
}

.tel {
  background-image: url(/svg/Icon.svg);
  background-repeat: no-repeat;
  background-position: left 30px center;
  text-align: center;

  height: 60px;

  background-color: #ffffff;
  border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 0px;
  color: #bbbcbc;
}

footer {
  padding: 0 30px;
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */

  text-align: center;

  color: #ffffff;
}

/* Авторизация SMS */

.signin-sms__wrap {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  padding: 0 30px;
  transition: opacity 0.3s ease;
}
.signin-sms__wrap input {
  width: 100%;
  flex: 0 0 23%;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 60px;
  font-size: 2em;
  box-shadow: none;
  outline: none;
  border-radius: 25px;
  border: none;
}
.signin-sms__wrap input:not(:first-child) {
  margin-left: 1%;
}

.signin-sms__wrap.done {
  opacity: 0;
}

/* Таймер */

.reroll_form {
  margin-top: 100px;
}

.button_reroll {
  min-width: 350px;
}

/* Авторизация полная */

.authorization_form_full {
  display: grid;
  gap: 15px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "auth_name auth_fam"
    "auth_patronymic auth_patronymic"
    "button_authorization_full button_authorization_full";
}

.auth {
  text-align: center;

  height: 60px;

  background-color: #ffffff;
  border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 0px;
  color: #bbbcbc;
}

.auth_name {
  grid-area: auth_name;
}

.auth_fam {
  grid-area: auth_fam;
}

.auth_patronymic {
  grid-area: auth_patronymic;
}

.button_authorization_full {
  grid-area: button_authorization_full;
}

.agreement_href {
  cursor: pointer;
  padding-bottom: 10px;
  text-decoration: none;
}

.agreement_href span {
  text-decoration: underline;
}

/* Политика конфиденциальности */

.privacy_block {
  background: #ffffff;
  border-radius: 40px;

  width: 86.9%;
  height: 77.7%;

  margin-top: 70px;
  position: relative;
}

.head_img_privacy {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 25%;
}

.privacy_content {
  margin-top: 50px;
  margin: 70px 30px 0;

  max-height: 80%;

  overflow-y: scroll;
}

.privacy_head {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  /* or 121% */

  display: flex;
  align-items: center;

  color: #000000;
  padding-bottom: 15px;
}

.privacy_text {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */

  color: #000000;
}

/* Правила */

/* Свайпер */

.swiper {
  height: 80%;
}

.swiper-pagination-bullet {
  background-color: #5ebd2b !important;
}

.promotion_content {
  text-align: center;
  overflow-y: inherit;
}

.promotin_head {
  justify-content: center;

  font-size: 32px;
  line-height: 0px;
  padding-bottom: 30px;
}

.promotin_text {
  font-size: 21px;
  line-height: 25px;
}

.button_container_promotion {
  margin: 0 20px;
}

/* Рейтинг */

.rating_head_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4.6%;
}

.rating_head {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 0px;
  /* or 0% */

  text-align: center;

  color: #ffffff;

  padding-top: 40px;
}

.rating_block {
  margin-top: 30px;
  height: auto;
}

.rating_content {
  overflow-y: scroll;
  margin: 15px 15px 0 15px;
  max-height: none;
  border-radius: 20px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0eeee;
  border-radius: 25px;
  padding: 10px;
}

.user_you {
  background-color: #5ebd2b;
}

.number_rating {
  width: 30px;
  height: 30px;
  background-color: #f6b931;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.number_rating_one {
  background-color: #4aac16;
}

.you_number {
  background-color: #ffffff;
}

.name {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  color: #000000;
}

.name_you {
  color: #ffffff;
}

.number_you {
  color: #ffffff;
}

.number {
  color: #a1a7a7;
}

.points {
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 0px;
  /* or 0% */

  display: flex;
  align-items: center;

  color: #4aac16;
}

.points_you {
  color: #ffffff;
}

.number_rating_last {
  background: linear-gradient(
    180deg,
    rgba(246, 185, 49, 0.8) 0%,
    rgba(246, 185, 49, 0) 57.81%
  );
}

.user_inform_last {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 76.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.points_last {
  background: linear-gradient(
    181.95deg,
    #4aac16 1.65%,
    rgba(74, 172, 22, 0) 67.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rating_form {
  width: 86.9%;
  margin-top: 20px;
}

.button_rating {
  background-image: url(/svg/arrow_left.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
}
